.report-header {
    background-color:#b3b3b3;
    padding: 10px 0px;
    border-radius: 5px;
}
.report-header-dark {
    padding: 10px 0px;
    border-radius: 5px;
}


.report-h1 {
    font-size: 24px;
    padding-left:0px ;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

